<div class="pure-u-3-4">
  <div class="pure-g body">
    <div class="pure-u-2-3">
      <p class="letters">
      <% ('a'..'z').each do |letter| %>
        <%= link_to(letter, admin_foods_path(letter: letter)) %>
      <% end %>
      </p>
    </div>

    <div class="pure-u-2-3">
      <ul class="food">
      <% @foods.each do |food| %>
        <li data-id="<%= food.id %>"><%= link_to(food.name, edit_admin_food_path(food)) %></li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
