<div class="recipes">
  <% if searching? %>
    <h2><%= t('.searching', q: params[:term], count: @recipes.length).html_safe %></h2>
  <% end %>

  <% if @food %>
    <h2><%= t('.food', name: @food.name).html_safe %></h2>
  <% end %>

  <%= render partial: 'recipe', collection: @recipes %>
</div>
