<div class="recipes">
  <% if searching? %>
    <p class="searching">
      <%= t('.searching', q: params[:q], count: @recipes.count).html_safe %>
    </p>
  <% end %>

  <%= render partial: 'recipe', collection: @recipes %>
</div>
