header, footer {
  background: white;
  color: black;
  text-align: center;
}

header h1 a,
header h1 a:visited {
  text-decoration: none;
  color: black;
}

header h1 span {
  vertical-align: middle;
  padding-top:2px;
  font-family: "SSGizmo";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

footer {
  background: black;
  color: white;
  margin-top: 60px;
  font-size: 80%;
}

.tools {
  background: black;
  color: #fff;
  font-size: 0.8em;
  text-align: right;
  padding: 3px 20px 5px 10px;
  margin: 0;
  font: sans-serif;
  font-weight: bold;
}

.tools a,
.tools a:visited {
  color: white;
  text-decoration: none;
}

.sidebar h5,
.sidebar h6 {
  margin: 6px 0px 6px 0px;
  padding: 16px 19px 16px 19px;
  background: #222;
}

.sidebar h6 {
  padding-left: 29px;
}

.sidebar h5 a,
.sidebar h6 a,
.sidebar h5 a:visited,
.sidebar h6 a:visited {
  color: white;
  text-decoration: none;
}

.recipe-form {
  padding: 0px 20px 0px 20px;
}

table.ingredients td {
  padding: 2px 8px;
}

table.ingredients .short-col {
  width: 80px;
}

table.ingredients .short-col input {
  width: 60px;
}
