.review {
  float: right;
  font-size: 1em;
  font-weight: bold;
  font-family: "chaparral-pro-1","chaparral-pro-2", Georgia, Times, "Times New Roman", serif;
}

.recipes {
  margin-top: 24px;
}

.recipes h2 {
  font-size: 1.4em;
  font-family: "chaparral-pro-1","chaparral-pro-2",Georgia, Times, "Times New Roman", serif;
  color: #333;
  font-weight: nornal;
}

.recipe-entry .review a,
.recipe .review a,
.recipe .review a:visited,
.recipe-entry .review a:visited {
  color: #BD1806;
  text-decoration: none;
}

.recipe-entry {
  width: 650px;
  margin-bottom: 40px;
}

.recipe-entry h3,
.recipe-entry h3 a,
.recipe-entry h3 a:visited {
  font-family: "chaparral-pro-1","chaparral-pro-2", Georgia, Times, "Times New Roman", serif;
  font-size: 1.2em;
  letter-spacing: .05em;
  font-weight: normal;
  color: #555;
  padding: 0.1em 0em;
  margin: 0;
}

.recipe-entry h3 a:hover {
  text-decoration: underline;
}

.recipe-entry p {
  font-size: 0.7em;
  color: #444;
}

.recipe-entry a {
  text-decoration: none;
  color: #999;
}

.recipe-entry .date {
  font-weight: bold;
  color: #333;
}

.recipe {
  width: 650px;
  font: 16px/23px Georgia,Serif;
  color: #444;
}

.recipe .image {
  text-align: center;
}

.recipe h2 {
  padding-bottom: 0px;
  margin-bottom: 0px;
  color: #222;
}

.recipe p.url,
.recipe p.url a,
.recipe p.url a:visited {
  font-size: 1em;
  font-weight: bold;
  font-family: "Consolas", serif;
  color: #666;
  letter-spacing: .05em;
  text-decoration: none;
  padding-top: 0px;
  margin-top: 0px;
}

.recipe p.url a:hover {
  text-decoration: underline;
}

.new-recipe {
  width: 650px;
  margin-bottom: 70px;
  font-family: "chaparral-pro-1","chaparral-pro-2", Georgia, Times, "Times New Roman", serif;
}
