@font-face {
  font-family: "SSGizmo";
  src: font-url('ss-gizmo.eot');
  src: font-url('ss-gizmo.eot?#iefix') format('embedded-opentype'),
       font-url('ss-gizmo.woff') format('woff'),
       font-url('ss-gizmo.ttf')  format('truetype'),
       font-url('ss-gizmo.svg#SSGizmo') format('svg');
  font-weight: normal;
  font-style: normal;
}
